@import "../../scss/mixins";
@import "../../scss/variables";

.clock {
  width: 98%;

  margin: 20px auto;

  @include center;
  flex-direction: column;

  @include shadow(white);

  &__main {
    width: 960px;
    height: 780px;

    margin: 0 auto;
    padding: 20px;

    @include center;
    @include shadow(black);

    transform: translateY(20%);

    z-index: 2;
  }

  &__footer {
    width: 100%;
    margin: 5px 0;
    padding: 40px;

    @include shadow(white);

    transform: translateY(120%);
  }
}
